<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
  </configSections>
  <connectionStrings>
    <add name="MessangerDataLayer.Properties.Settings.ConnectionString" connectionString="Data Source=messagedatabase.csp1feq9qvqu.us-east-2.rds.amazonaws.com,1433;Initial Catalog=MessageDatabase;Persist Security Info=True;User ID=administrator;Password=C12345678" providerName="System.Data.SqlClient" />
    <add name="DatabaseDatabaseContext" connectionString="metadata=res://*/MessageDatabaseModel.csdl|res://*/MessageDatabaseModel.ssdl|res://*/MessageDatabaseModel.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=messagedatabase.csp1feq9qvqu.us-east-2.rds.amazonaws.com,1433;initial catalog=MessageDatabase;persist security info=True;user id=administrator;password=C12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
    <add name="MessageDatabaseContext" connectionString="metadata=res://*/MessageDatabase.csdl|res://*/MessageDatabase.ssdl|res://*/MessageDatabase.msl;provider=System.Data.SqlClient;provider connection string=&quot;data source=messagedatabase.csp1feq9qvqu.us-east-2.rds.amazonaws.com,1433;initial catalog=MessageDatabase;persist security info=True;user id=administrator;password=C12345678;MultipleActiveResultSets=True;App=EntityFramework&quot;" providerName="System.Data.EntityClient" />
  </connectionStrings>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.LocalDbConnectionFactory, EntityFramework">
      <parameters>
        <parameter value="mssqllocaldb" />
      </parameters>
    </defaultConnectionFactory>
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
    </providers>
  </entityFramework>
</configuration>